# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/

# Environment Variables
.env

# Runtime / Logs
slack_logs.json
tasks.json
report.pdf
*.log

# IDE
.vscode/
.idea/
